html {
  background-color: #fac7c0;
}

h1 {
  font-family: Anton, sans-serif;
  color: #fff;
}

h2 {
  background-color: rgba(82, 59, 36, .5);
  font-family: "Libre Baskerville", serif;
  color: #fff;
}
