html {
  background-color: #fac7c0;
}

h1 {
  font-family: Anton, sans-serif;
  color: #fff;
  border-top: solid #fff 2px;
  border-bottom: solid #fff 2px;
}

h2 {
  background-color: rgba(82, 59, 36, .5);
  font-family: "Libre Baskerville", serif;
  color: #fff;
}

h3 {
  color: #860f0f;
}

.hidden {
  visibility: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 60%;
  width: 100%;
}

@media only screen and (min-width: 25em) {

  .hidden {
    visibility: visible;
  }

  .hidden-2 {
    visibility: hidden;
  }

  .absolute-2 {
    position: absolute;
    top: 0%;
    width: 100%;

}
